@import url(default.css);

a{cursor: pointer;}
a:hover{/* color: var(--one) !important; */font-weight: bold !important;}

.show {display: block !important;}
.hidden {display: none !important;}

.shadow-side{-webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.25);-moz-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.25);box-shadow: 2px 2px 0 0 rgba(0,0,0,0.25);}
.shadow-bottom{-webkit-box-shadow: 0px 2px 0 0 rgba(0,0,0,0.25);-moz-box-shadow: 0px 2px 0 0 rgba(0,0,0,0.25);box-shadow: 0px 2px 0 0 rgba(0,0,0,0.25);}

.modal{
    color: var(--shadow);
    background-color: rgb(51, 51, 51, 0.75);
}

#btnToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    color: var(--light);
    cursor: pointer;
    opacity: 0.4;
}

.btn-circle-black{
    border: none !important;
    color: white !important;
    background-color: #000 !important;
}

.btn-circle-black:hover{
    opacity: 1 !important;
    background-color: #333 !important;
}

.btn-close{
    color: #333 !important;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

.btn-close:hover{
    color: white !important;
    background-color: #333;
}

.label {
    color : #868e96;
    text-align: right;
}
#modalLabel{
    padding-right: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.overlay{
    position: absolute !important;
    z-index: 2;
    color: white;
    background: #000;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    text-align: center;
}

.overlay-content{
    position: relative;
    top: 30%;
}