@import url(default.css);

a:hover{
    /* color: var(--one) !important; */
    font-weight: bold !important;
}

.modal{
    color: black;
}

.show {
    display: block !important;
}

#btnToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    color: var(--light);
    cursor: pointer;
    opacity: 0.4;
}

.btn-circle-black{
    border: none !important;
    color: white !important;
    background-color: #000 !important;
}

.btn-circle-black:hover{
    opacity: 1 !important;
    background-color: #333 !important;
}